fastapi
uvicorn[standard]
structlog
slowapi
pytest
pytest-asyncio
httpx
factory-boy
pytest-cov
python-multipart
duckdb
pandas
anthropic
email-validator
openai
python-dotenv
pydantic-settings
sqlalchemy
alembic
psycopg2-binary
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
authlib
httpx
